fastapi
uvicorn
pydantic
pydantic-settings
supabase
python-dotenv==1.0.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
scikit-learn
pandas
numpy
matplotlib
seaborn
openai
httpx
passlib[bcrypt]
python-jose[cryptography]
email-validator
